<a name="work"></a>
<hr class="flat-border hr-top-top">
<h3 class="destination-heading">To Work</h3>
<hr class="flat-border hr-bottom">
<div class="row column-headings">
	<div class="small-3 columns text-center heading-box">
		Route Info
	</div>
	<div class="small-3 columns text-center heading-box">
		Origin Time
	</div>
	<div class="small-3 columns text-center heading-box">
		Destination Time
	</div>
	<div class="small-3 columns text-center heading-box">
		Time Until Trip/Fare
	</div>
</div>
<% @work_trips.each do |trip| %>
	<div class="row">
		<div class="small-12 medium-3 large-3 columns text-center trip-box" style="background-color:<%=trip.route.color_code%>">
			<p class="data trip-heading"><%= trip.route.name %></p>
			<p class="data"><%= trip.route.abbr_name %></p>
			<p class="data">Route #<%= trip.route.route_number%> | # Stations: <%= trip.route.stations_count %></p>
		</div>
		<div class="small-4 medium-3 large-3 columns text-center">
			<p class="data trip-time"><%= trip.origin_time %></p>
			<p class="data"><%= trip.origin %></p>
		</div>
		<div class="small-4 medium-3 large-3 columns text-center">
			<p class="data trip-time"><%= trip.destination_time %></p>
			<p class="data"><%= trip.destination %></p>
		</div>
		<div class="small-4 medium-3 large-3 columns text-center">
			<p class="data"><%= ((Time.parse(trip.origin_time) - Time.now) / 60).to_i %> Min.</p>
			<p class="data">$<%= trip.fare %></p>
		</div>
	</div>
<% end %>
<a name="home"></a>
<hr class="flat-border hr-top">
<h3 class="destination-heading">To Home</h3>
<hr class="flat-border hr-bottom">
<div class="row column-headings">
	<div class="small-3 columns text-center heading-box">
		Route Info
	</div>
	<div class="small-3 columns text-center heading-box">
		Origin Time
	</div>
	<div class="small-3 columns text-center heading-box">
		Destination Time
	</div>
	<div class="small-3 columns text-center heading-box">
		Time Until Trip/Fare
	</div>
</div>
<% @home_trips.each do |trip| %>
	<div class="row">
		<div class="small-3 columns text-center trip-box" style="background-color:<%=trip.route.color_code%>">
			<p class="data trip-heading"><%= trip.route.name %></p>
			<p class="data"><%= trip.route.abbr_name %></p>
			<p class="data">Route #<%= trip.route.route_number%> | # Stations: <%= trip.route.stations_count %></p>
		</div>
		<div class="small-3 columns text-center">
			<p class="data trip-time"><%= trip.origin_time %></p>
			<p class="data"><%= trip.origin %></p>
		</div>
		<div class="small-3 columns text-center">
			<p class="data trip-time"><%= trip.destination_time %></p>
			<p class="data"><%= trip.destination %></p>
		</div>
		<div class="small-3 columns text-center">
			<p class="data"><%= ((Time.parse(trip.origin_time) - Time.now) / 60).to_i %> Min.</p>
			<p class="data">$<%= trip.fare %></p>
		</div>
	</div>
<% end %>
<hr class="flat-border hr-top">