<div class="row">
	<div class="large-12 columns text-center">
		<h1>Bart Trips</h1>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<table class="trip-table">
			<tr>
				<th>Route Name</th>
				<th>Route Name</th>
				<th>Station #</th>
				<th>Origin</th>
				<th>Destination</th>
				<th>Fare</th>
				<th>Origin Time</th>
				<th>Dest Time</th>
			</tr>
			<% @trips.each do |trip| %>
				<tr>
					<td><p style="color:<%=trip.route.color_code%>"><%= trip.route.name %></p></td>
					<td><p><%= trip.route.abbr_name %></p></td>
					<td><p><%= trip.route.stations_count %></p></td>
					<td><p><%= trip.origin %></p></td>
					<td><p><%= trip.destination %></p></td>
					<td><p><%= trip.fare %></p></td>
					<td><p><%= trip.origin_time %></p></td>
					<td><p><%= trip.destination_time %></p></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>